{
  "extends": "@istanbuljs/nyc-config-typescript",
  "extension": [
      ".ts",
      ".tsx"
  ],
  "exclude": [
      "**/*.d.ts",
      "pipeline/**",
      "coverage/**",
      "dist/**",
      "test/**",
      "webpack.config.js",
      "source-map-install.js",
      "inversify.config.ts",
      "**/I[A-Z]*.ts",
      "source/Util/pre-commit.ts"
    ],
  "reporter": ["lcov", "html", "text"],
  "sourceMap": true,
  "all": true,
  "clean": false,
  "cache": false
}
