{
    "region": "us-east-1",
    "instance": {
        "BlockDeviceMappings": 
            [
                {
                    "DeviceName": "/dev/sdh", 
                    "Ebs": {
                        "VolumeSize": 100
                    }
                }
            ], 
            "ImageId": "", 
            "InstanceType": "t2.micro", 
            "KeyName": "TEST_INSTANCE_SSH_KEY_NAME", 
            "MaxCount": 1, 
            "MinCount": 1, 
            "SecurityGroupIds": ["TEST_INSTANCE_SECURITYGROUP"],
            "SubnetId": "TEST_INSTANCE_SUBNETID",
            "TagSpecifications": 
            [
                {
                    "ResourceType": "instance", 
                    "Tags": [
                        {
                            "Key": "Purpose", 
                            "Value": "data-ingestion-automated-test"
                        },
                        {
                            "Key": "Name",
                            "Value": "data-ingestion-automated-test-instance"
                        }
                    ]
                }
            ]
    },
    "images": 
    {
        "linux-rhel7": [
            {
                "region": "us-east-1",
                "ami": "ami-a8d369c0"
            },
            {
                "region": "us-west-1",
                "ami": "ami-dcc8d299"
            },
            {
                "region": "us-west-2",
                "ami": "ami-212e0911"
            }
        ],
        "linux-centos7": [
            {
                "region": "us-east-1",
                "ami": "ami-9887c6e7"
            },
            {
                "region": "us-east-2",
                "ami": "ami-994575fc"
            },
            {
                "region": "us-west-1",
                "ami": "ami-78485818"
            },
            {
                "region": "us-west-2",
                "ami": "ami-0ebdd976"
            }
        ]
    }
}